@if (detailsProduct()) {

  <section class="p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 bg-white rounded-xl shadow p-6">

<div>
  <!-- @if شرط الصور -->
  @if (imagesList.length) {

    <p-galleria
  [value]="imagesList"
  [responsiveOptions]="responsiveOptions"
  [numVisible]="5"
  [circular]="true"
  [autoPlay]="true"
  [transitionInterval]="2000"
  [showItemNavigators]="true"
  [changeItemOnIndicatorHover]="true"
  [showIndicators]="true"
  [showThumbnails]="true"
  [activeIndex]="activeIndex"
(activeIndexChange)="onImageChange($event)"
  [containerStyle]="{ 'max-width': '740px' }"
      >

      <!-- الصورة الكبيرة -->
     <ng-template pTemplate="item"   let-item>
  @if (imagesList.length) {
 <div class="w-80 h-110">
   <img
    [src]="imagesList[activeIndex]"
    class=" w-full h-full  object-cover rounded-lg mb-3"
    alt=""
  />
 </div>
}
</ng-template>

      <!-- الصور الصغيرة -->
   <ng-template pTemplate="thumbnail"  let-item let-index="index">
  <img
    [src]="item"
    class="w-16 h-16 object-cover rounded border-2"
    [class.border-blue-500]="activeIndex === index"
    alt=""
  />
</ng-template>

    </p-galleria>

  }
</div>

      <!-- 📄 التفاصيل -->
      <div class="flex flex-col justify-center">

        <h2 class="text-2xl font-bold mb-3">
          {{ detailsProduct()?.title }}
        </h2>

        <p class="text-gray-500 mb-3">
          {{ detailsProduct()?.category?.name }}
        </p>

        <p class="text-gray-700 mb-4 leading-relaxed">
          {{ detailsProduct()?.description }}
        </p>

        <div class="flex items-center justify-between mb-4">
          <span class="text-xl font-semibold text-main">
            {{ detailsProduct()?.price | currency:'GBP' }}
          </span>

            <div class="flex items-center gap-1">

<app-rating-stars
  [rating]="detailsProduct()?.ratingsAverage ?? 0"
></app-rating-stars>

    </div>
        </div>

        <app-add-to-cart-button [productId]="detailsProduct()?._id"></app-add-to-cart-button>


      </div>

    </div>
  </section>

}
